<nav id="footer" role="navigation">
    <p>
        <a href="https://www.aspnetawesome.com/learn">Documentation</a>
        <a href="https://www.aspnetawesome.com/forum">Forum</a>
        <a href="@Url.Action("Index", "Sitemap")">Sitemap</a>
        <a href="https://prodinner.aspnetawesome.com">Prodinner Demo</a>
    </p>
    <p>
        <a href="https://www.aspnetawesome.com/ContactUs">Contact Us</a>
        <a href="https://www.aspnetawesome.com/Company/TermsOfUse">Terms of Use</a>
        <a href="https://www.aspnetawesome.com/Company/PrivacyPolicy">Privacy policy</a>
        <a href="https://www.aspnetawesome.com/Company/CookiePolicy">Cookie policy</a>
    </p>
</nav>